@model AppscoreAncestry.Entities.PersonView

<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Gender)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.BirthPlace)
    </td>
</tr>